.background {
  fill: none;
  pointer-events: all;
}
.parcoords {
  display: block;
}

.parcoords svg,
.parcoords canvas {
  font: 10px sans-serif;
  position: absolute;
}

.parcoords canvas {
  opacity: 0.9;
  pointer-events: none;
}

.axis .title {
  font-size: 10px;
  transform: rotate(-21deg) translate(-5px,-6px);
  fill: #222;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: 1px;
}
.svg_main {
  cursor:pointer;
  pointer-events: all;
}

.g_main {
  cursor:pointer;
  pointer-events: all;
}

.controls-wrapper{
  padding-top: 50px;
  width: 500px;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }
  
  .node text {
    font: 12px sans-serif;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

circle.bubble.selected {
  border: 2px #ccc solid;
  stroke: #000;
  stroke-width: 2px;
}